$color-primary: #1D3557;
$primary: #1D3557;
$secondary: #457B9D;
$color-tertiary: #9BA39D;
$body-bg: #F1FAEE;

$font-size-xxxl: 3rem; // 48px
$font-size-xxl: 2.5rem; // 40px
$font-size-xl: 2rem; // 32px
$font-size-lg: 1.5rem; // 24px
$font-size-md: 1.25rem; // 20px
$font-size-sm: 1rem; // 16px
$font-size-xs: 0.75rem; // 12px

$color-html: #DD4B25;
$color-css: #379AD6;
$color-sass: #CD669A;
$color-bs: #533B78;
$color-git: #F05030;
$color-ghub: #212529; 
$color-js: #E8D44D;
$color-vue: #3FB27F;