.footer {
    padding-bottom: 32px;

    &__container-one {
        width: 100%;
    }

    &__container-two {
        width: 100%;
    }

    .form-control {
        background-color: rgb(247, 247, 247);
    }
}